*{
    font-family: Arial, Helvetica, sans-serif;
}

html{
    background-image:linear-gradient(to bottom right, purple, cyan);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    overflow: hidden;
    height: 100%;
}

.naslov{
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 100px;
    text-decoration:underline;
    text-decoration-color: cyan;
}

.blok{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    height: 70vh;
}

.gumbi{
  background-image:linear-gradient(to right, cyan, white);
  border: 0 solid white;
  color: black;
  display: flex;
  font-size: 10rem;
  font-family:'Courier New', Courier, monospace;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: 10rem 1.65rem ;
  align-items:start;
  text-decoration: none black solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 470px;
  cursor: pointer;
  transform: rotate(-12deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  padding-bottom: 50vh;
}

.gumbi:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.gumbi:hover:after {
  bottom: 2px;
  left: 2px;
}

.score{
    display: flex;
    flex-direction: row;
    justify-content:  center;
    gap: 10vw;
    flex-wrap: wrap;
    padding: 0 0 100px ;
    color: white;
    font-size: 40px;
    text-align: center;
    font-weight: 600;
}

.weapon, .rules{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.weapon{
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 5px;
}

.rules{
  padding-bottom: 30px;
}

