*{
    font-family: Arial, Helvetica, sans-serif;
}

html{
    background-image:linear-gradient(to bottom right, purple, cyan);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    height: 100%;
}

.naslov{
    color: white;
    padding-bottom: 10rem;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 10rem;
    font-size: 100px;
    text-decoration:underline;
}

.blok{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

.gumbi{
  background-image:linear-gradient(to right, cyan, white);
  border: 0 solid white;
  color: black;
  display: flex;
  font-size: 2rem;
  font-family:'Courier New', Courier, monospace;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: 2rem 1.65rem 20rem 0;
  text-align: center;
  text-decoration: none black solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  clip-path: polygon(0 0, 100% 0, 100% 91%, 0 86%);
}

.gumbi:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.gumbi:hover:after {
  bottom: 2px;
  left: 2px;
}